html,
body,
#map {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#manager {
  position: absolute;
  float: left;
  width: 200px;
  height: 100%;
  background: #C8FC98;
}

#map {
  width: 80.8%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}