html, body{
  height:100%;
  width:100%;
}

#legend {
  float: left;
  width: 200px; /*Width of left column*/
  height: 100%;
  margin-left: -100%;
  background: #C8FC98;
}

#map {
  margin-left: 200px;
}